.cv{
    position: relative;
    font-family: iranSansFa;
    padding: 1rem 0.5rem;
    /*----------------*/
    /*background-image: linear-gradient(120deg, rgba(252, 203, 144, 0.20) 0%, rgba(213, 126, 235, 0.20) 100%);*/
}
.cv-left{
    float: left;
    width: 70%;
    min-height: 360px;
    display: inline-block;
}
.cv-right{
    position: relative;
    width: 30%;
    min-height: 360px;
    height: max-content;
    border-left: 1px solid rgba(237, 237, 237, 0.25);
    display: inline-block;
}
.profile{
    width: 100%;
    height: 200px;
    position: relative;
}
.profile img{
    width: 150px;
    height: 150px;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-75px;/* half width*/
    margin-top:-75px;/* half height*/
    border: 1px solid #e2e2e2;
    border-radius: 50%;
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}
.cv-title{
    font-family: yekan;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding: 0.5rem 0;
    position: relative;
}
.cv-title:after{
    content: ' ';
    position: absolute;
    width: 50%;
    background: rgba(255, 255, 255, 0.17);
    height: 1px;
    bottom: 0;
    left: 25%;
    right: 25%;
}
.cv-detail{
    font-family: iranSansFa;
    margin-top: 1rem;
    font-size: 12px;
    color: #fff;
    text-align: right;
    padding-right: 2rem;
}
.cv-detail-title{
    width: 40%;
    display: inline-block;
    color: #e2e2e2;
}
.cv-detail-title:before{
    content: '\25A0';
    padding-left: 1rem;
}
.cv-detail-value{
    width: 60%;
    display: inline;
}
.cv-left .row:first-child{
    margin-top: 3rem;
}
.cv-left .row:after{
    content: ' ';
    position: absolute;
    width: 50%;
    background: rgba(255, 255, 255, 0.17);
    height: 1px;
    bottom: 0;
    left: 25%;
    right: 25%;
}
.cv-left .row:last-child:after{
    content: '';
    position: relative;
    width:0;
    background: transparent;
    height: 0;
}
.title{
    margin-right: 1rem;
    padding: 0.25rem 1rem 0.25rem 4rem;
    color: #fff;
    width: fit-content;
    /*background: #0af9d7;*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.17);
}

.cv-left .detail-title{
    color: #f4f4f4;
    font-size: 14px;
    font-weight: 400;
    padding: 0.5rem 2rem;
}
.cv-left .detail-title:before{
    content: '\25C9';
    padding-left: 1rem;
    font-weight: 100;
}
.cv-left .detail-value{
    color: #e2e2e2;
    font-size: 10px;
    padding-right: 4rem;
}
.cv-progress{
    font-size: 11px;
    padding-right: 1rem;
    color: #e2e2e2;
}
.cv-progress .progress{
    height: 0.3rem;
    background-color: rgba(250, 250, 250, 0.51);
}

.cv-progress .progress-bar{
    background-color: #595858;
}
.cv-social{
    color: #e2e2e2;
    float: left;
    padding: 1rem ;
}
.cv-social div{
    display: inline;
    margin-top: 1rem;
    color: #e2e2e2;
}
.cv-social div a{
    padding: 1rem;
    text-decoration: none;
    color: #e2e2e2;
}
.ltr{
    direction: ltr;
}